.menubar{
	padding-top: 60px;
	
}

.carrito{
	margin: 40px 0px 0px 230px;
	padding:0px;
}

.d:hover{
	background: #fff;
}



.content1 {
  width: 50%;
  margin: 0 auto;
}

.slider-area {
  padding: 5px 40px;
  border: 1px solid #ddd;
}

.slider {
  margin-top: 50px;
}


