@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css";

.menubar{
	padding-top: 60px;
	
}

.carrito{
	margin: 40px 0px 0px 230px;
	padding:0px;
}

.d:hover{
	background: #fff;
}



.content1 {
  width: 50%;
  margin: 0 auto;
}

.slider-area {
  padding: 5px 40px;
  border: 1px solid #ddd;
}

.slider {
  margin-top: 50px;
}

.htitle:hover{
	background-color: rgba(38, 33, 29, 0.04);
}

.cen{
	margin: auto;
	padding: 0;
}

.cen1{
	margin: auto;
	margin-top: 20px;
	padding: 5px;
	padding-bottom: 30px;
}

.marcas8{
	width:126px !important;
	height: 115px !important;
	padding:5px;
}

.marcasc{
	margin: 0 auto !important;
	text-align: center !important;
}

input[type="checkbox"]{
	display:none;
}
input[type="checkbox"] +.label-text:before{
	   content: "\f096";
	   font-family:"FontAwesome";
	   speak:none;
	   line-height:1;
	   width:1em;
	   display:inline-block;
	   margin-right:5px;
	}

input[type="checkbox"]:checked + .label-text:before{
	 content: "\f14a";
	 color:#06a3e9;	

	}


.btnda{
	background:#F3B75E !important;
	color:#323232;
}

.btnda:hover{
	background:#b3b2b2 !important;
	color:#fff;
}

.pf{
	padding:10px !important;
}


/* config-cliente - tarjeta de credito */

.full-card{
	padding-left: 10px;
	padding-bottom: 10px;
}

.card-new{
	width:96px;

}

.card-titulos{
	padding-left: 16px;
	padding-top: 10px;
}

.card-boxes{
	width:398px;
}

.card-mes{
	width:221px !important;
	display: inline-block;
	padding:11px;
}

.card-ano{
	width:170px !important;
	display: inline-block;
	padding:11px;
}

.ccv{
	padding-top: 35px;

}

.card-ccv{
	width:130px;
	margin-left:15px; 
}

.card-btn{
	padding-top: 20px;
	padding-bottom: 10px;
}

.md{
	width:400px !important;
	height:400px !important; 
}