.menubar{
	padding-top: 60px;
	
}

.carrito{
	margin: 40px 0px 0px 230px;
	padding:0px;
}

.d:hover{
	background: #fff;
}



.content1 {
  width: 50%;
  margin: 0 auto;
}

.slider-area {
  padding: 5px 40px;
  border: 1px solid #ddd;
}

.slider {
  margin-top: 50px;
}

.htitle:hover{
	background-color: rgba(38, 33, 29, 0.04);
}

.cen{
	margin: auto;
	padding: 0;
}

.cen1{
	margin: 5px;
	padding: 5px;
	padding-bottom: 30px;
}