*{
	margin: 0px;
	padding: 0px;
}



.title{
	font-size: 222px;
	padding-top: 350px;
	text-align: center;
}
.parrafo{
	font-size: 20px;
		text-align: center;
}
body{
  background-image: url('img/error500.png');
}

input {
  width: 300px;
  padding: 14px;
  max-width: calc(100% - 80px);
  border-radius: 6px 0 0 6px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  border: 0;
  outline: 0!important;
  margin:0 auto;
}

button {
  width: 40px;
  padding: 14.5px 16px 14px 12.5px;
  vertical-align: top;
  border-radius: 0 6px 6px 0;
  color: grey;
  background: silver;
  cursor: pointer;
}

button:hover {
  color: white;
  background: #9A5C32
}
.error{
	margin: 0 auto;
	text-align: center;S
}